* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(153, 203, 238, 0.7450980392);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 8px 20px;
  background-color: #068fe3;
  position: sticky;
  z-index: 3;
  top: 0;
  font-size: 18px;
  font-weight: 200;
  color: white;
}
nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: font-weight 0.5s, -webkit-text-decoration 0.5s;
  transition: text-decoration 0.5s, font-weight 0.5s;
  transition: text-decoration 0.5s, font-weight 0.5s, -webkit-text-decoration 0.5s;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
nav .menu-mobil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav .menu-pc {
  display: none;
}
nav p:hover {
  text-decoration: underline;
  font-weight: 900;
}

.banner {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../recursos/banner/medicos-tiro-medio-equipo-proteccion.jpg");
  background-size: cover;
  background-position: center;
}

.banner-texto {
  padding-left: 1%;
  width: 100%;
  height: auto;
  background-color: rgba(153, 203, 238, 0.3764705882);
  padding: 20px;
}
.banner-texto h1 {
  font-size: 60px;
  text-align: center;
  color: #1779ca;
}
.banner-texto h4 {
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  color: #022746;
}
.banner-texto p {
  text-align: center;
  font-size: 40px;
  color: #094a7f;
}

.main-title {
  padding: 20px;
  color: #094a7f;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: rgba(251, 251, 251, 0.3764705882);
}

main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  padding: 20px;
  gap: 40px;
}

.publicaciones {
  background-color: white;
  width: 400px;
  height: 430px;
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  border-radius: 5px;
}
.publicaciones img {
  width: 100%;
  height: 250px;
}
.publicaciones p {
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.publicaciones a {
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  color: red;
  transition: color 0.5s;
}
.publicaciones a:hover {
  color: rgba(255, 47, 0, 0.2901960784);
}
.publicaciones h4 {
  text-align: left;
  padding: 10px;
  font-size: 12px;
}

footer {
  width: 100%;
  height: 120px;
  background-color: #068fe3;
}

.final {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-left: 30px;
  margin-top: 40px;
  padding-top: 10px;
  padding-left: 50px;
  justify-content: center;
  color: white;
}
.final .botones {
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  nav .menu-mobil {
    display: none;
  }
  nav .menu-pc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}
.banner {
  width: 100%;
}/*# sourceMappingURL=general.css.map */